 
 body {
        background-image:url("https://i.pinimg.com/originals/72/a1/84/72a184aa7846cad0d5a82cf55dc3f406.jpg");
        background-size:100%;
        background-position: center;
        background-repeat: repeat-y;
        background-attachment: fixed;
        background-size: cover;
        
    }

.länkar-1 {
    display: flex;
    display: inline-block;
    width: 22.4%;
    text-align: center;
    margin: 0;
    padding: 10px;

    Font-size: 30px;

    color: black;

    font-family: 'Oswald', sans-serif;
}

.titel-1 {
    display: flex; 
    justify-content: center;
    
    padding-top: 10%;

    font-family: 'Oswald', sans-serif;
   
}

