.länkar-1 {
    display: flex;
    display: inline-block;
    width: 22.4%;
    text-align: center;
    margin: 0;
    padding: 10px;

    Font-size: 25px;

    color: black;

    font-family: 'Oswald', sans-serif;
}

.titel-1 {
    display: flex; 
    justify-content: center;
    
    padding-top: 10%;

    font-family: 'Oswald', sans-serif;
   
}


